
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Food lovers</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/fav2.ico" type="image/x-icon">
    <link rel="icon" href="/images/fav2.ico" type="image/x-icon">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- color stylesheet -->
    <link rel="stylesheet" href="/css/colors.css" id="ui-theme-color">
    <!-- responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <div class="loader_wrapper">
        <div class="loader">
            <img src="/images/loader.gif" alt="" class="img-fluid">
        </div>
    </div>
    <!--// loader_wrapper -->

    <div id="wrapper">
        <header class="new-block main-header">
            <div class="main-nav new-block">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="logo">
                                <a href="/"><h2>FOOD LOVERS</h2></a>
                            </div>
                            <div class="location-block">
                               
                            </div>
                            <a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
                            <nav class="nav">
                                <ul class="list-unstyled">
                                    <li class="drop active">
                                        <a href="/">Home</a>
                                       
                                    </li>
                                    <li class="drop">
                                        <a href="/admin/admin/categories">Categories</a>
                                    </li>

                                    <li class="drop">
                                        <a href="/admin/admin/products">Products</a>
                                    </li>

                                    <li><a href="/admin/admin/orders">Orders</a></li>
                                    <li><a href="/admin/admin/drivers">Delivery drivers</a></li>
                                    <li><a href="/admin/admin/deliveries">Deliveries</a></li>
                                    <li><a href="/admin/admin/Resevations">Resevations</a></li>
                                   
                                    <li><a href="/account/logout">Logout</a></li>
                                </ul>
                            </nav>
                           
                        </div>
                    </div>
                </div>
            </div>
        </header> <!-- header -->


        <div>

            <div style="height:150px">
                <p>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </p>
            </div>


            @RenderBody()

        </div>
       
    </div><!-- #wrapper -->
    <!-- include jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/js/bootstrap.min.html"></script>
    <!-- bootstrap -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- slick slider  -->
    <script src="/js/slick.js"></script>
    <!-- dscountdown  -->
    <script src="/js/dscountdown.min.js"></script>
    <!-- jquery.nice-select -->
    <script src="/js/jquery.nice-select.js"></script>
    <!-- magnific-popup -->
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <!-- Mixitup -->
    <script src="/js/mixitup.min.js"></script>
    <!-- Google Map -->
    <script src="/https://maps.googleapis.com/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script>
    <script src="/js/map.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>

</body>


</html>