@model IEnumerable<Restugrp07.Models.Product>

@{
    ViewBag.Title = "Selectexclusivemeal";
}

<br />

<h2>Select exclusive meal</h2>

<br />
<a href="/home/resevationmeals?resId=@ViewBag.bkid" class="btn btn-danger">Confirm / update booking meals</a>
<br />
<div style="display:inline-block;display:inline">
    <div class="col-lg-12 pd2">
        <div class="clearfix"></div>
        <br />
        <div class="slider-flr" id="filter_itm1">

            @foreach (var item in Model)
            {
                <div class="js-filter-chicken" style="padding:5px">
                    <div class="block-stl2">
                        <div class="img-holder">
                            <img src="~/images/uploads/products/@item.Id/@item.ImageName" style="height:250px;width:100%" alt="" class="img-rounded">
                        </div>
                        <div class="text-block">
                            <h3>@item.Name</h3>
                            <p class="sz">@item.Category.Name</p>
                            <p class="price"><span>R @item.Price</span> </p>
                        </div>
                        <div class="btn-sec">
                            <a href="#" class="btn4">DETAILS</a>
                            <a href="/home/Addtobookingmeal?bkid=@ViewBag.bkid&mealId=@item.Id" class="btn1 stl2">Add to booking</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>

    </div>
</div>


