
@{
    ViewBag.Title = "Cancelationreceived";
}

<br />
<div align="center">
    <h2>Cancelation received</h2>

    <br />

    <h3>Cancelation has been received, admin will look at all the factors and calculate the amount that can be refunded</h3>

    <br />
    <br />


</div>

