

        <div class="banner slider1 new-block">
            <div class="fixed-bg" style="background: url('images/slider-bg1.jpg');"></div>
            <div class="slider owl-carousel owl-theme">
                <div class="item">
                    <div class="slider-block slide1 new-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="text-block">
                                        <div class="img-block ab1" data-animation-in="bounceInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="images/pizza.png" alt="" class="img-responsive">
                                        </div>
                                        <h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight">buy get one free</h1>
                                        <div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
                                            <h2 class="text-stl3">0793 456 789</h2>
                                            <div class="text-center">
                                                <a href="#" class="btn1 stl2">About More</a>
                                                <a href="#" class="btn1 stl1">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="img-block img2">
                                        <div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="images/pz.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slider-block -->
                </div>
                <div class="item">
                    <div class="slider-block slide1 new-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="text-block">
                                        <div class="img-block ab1" data-animation-in="bounceInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="images/pizza.png" alt="" class="img-responsive">
                                        </div>
                                        <h1 class="text-stl1" data-animation-in="lightSpeedIn" data-animation-out="animate-out fadeOutRight">buy get one free</h1>
                                        <div class="number-block" data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutRight">
                                            <h2 class="text-stl3">0793 456 789</h2>
                                            <div class="text-center">
                                                <a href="#" class="btn1 stl2">About More</a>
                                                <a href="#" class="btn1 stl1">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="img-block img2">
                                        <div class="img-holder" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutRight">
                                            <img src="images/sldr.png" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .slider-block -->
                </div>
            </div>
        </div><!-- banner -->

