
@{
    ViewBag.Title = "viewslip";
}

<h2>View slip</h2>



<div id="content" class="site-content">
    <!-- Breadcrumb -->
    <div id="breadcrumb">
        <div class="container">
            <h2 class="title"></h2>

            <ul class="breadcrumb">
                <li><a href="#" title="Home">Home</a></li>
                <li><span>Order slip</span></li>
            </ul>
        </div>
    </div>
    <div align="center">
        <br />
        <br />
        <br />

        <h2><a href="~/images/@ViewBag.S" class="btn btn-danger">VIEW / DOWNLOAD ORDER SLIP</a> </h2>
        <br />
        <br />
        <br />


    </div>
</div>