
@{
    ViewBag.Title = "Signfailed";
}

<div id="content" class="site-content">
    <!-- Breadcrumb -->
    <div id="breadcrumb">
        <div class="container">
            <h2 class="title"></h2>

            <ul class="breadcrumb">
                <li><a href="#" title="Home">Home</a></li>
                <li><span>Delivery report</span></li>
            </ul>
        </div>
    </div>
    <div align="center">
        <br />
        <br />
        <br />

        <h2 style="color:red">ORDER DELIVERED AT THE WRONG ADDRESS <br />PLEASE RETURN ORDER TO THE WEREHOUSE OR ASK CUSTOMER FOR CORRECT ORDER SLIP</h2>
        <br />
        <br />
        <br />

    </div>
    </div>
