@model Restugrp07.Models.Vehicle

@{
    Layout = null;
}

<h2>Assessor Vehicle</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberPlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberPlate)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
