@model Restugrp07.Models.Order
@{
    ViewBag.Title = "Collect Order";
}


<div align="center">

    <body style=" margin-top:10px">
        <div id="qr-reader" style="width:300px"></div>
        <div style="color:black" id="qr-reader-results"></div>
    </body>
    <script src="~/html5-qrcode.min.js"></script>
    <script>
        function docReady(fn) {
            // see if DOM is already available
            if (document.readyState === "complete"
                || document.readyState === "interactive") {
                // call on next available tick
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }
        docReady(function () {
            var resultContainer = document.getElementById('qr-reader-results');
            var lastResult, countResults = 0;
            function onScanSuccess(decodedText, decodedResult) {
                if (decodedText !== lastResult) {
                    ++countResults;
                    lastResult = decodedText;
                    // Handle on success condition with the decoded message.
                    window.location.replace("/admin/admin/ConfirmOrderCollect?qr=" + decodedText +"&ordid=@Model.OrderId");
                }
            }

            var html5QrcodeScanner = new Html5QrcodeScanner(
                "qr-reader", { fps: 20, qrbox: 280 });
            html5QrcodeScanner.render(onScanSuccess);
        });
    </script>

</div>

