
@{
    ViewBag.Title = "OrderCollectFailed";
}

<div align="center">
    <h2 style="color:red">Order Collect Failed</h2>


</div>
<div align="center" style="color:greenyellow">

    <h3>ORDER COLLECT FAILED PLEASE PROVIDE A VALID ORDER SLIP</h3>

</div>

